//Fonts
$lato: 'Lato', sans-serif;

//Colours
$red: #e60012;
$blue: #3946A0;
$see-through: rgba(255,255,255,0.9); 
$off-white: #EAEAEA;
$dark-gray: #484848;

//Viewport min/max
$min-width: 300;
$max-width: 1600;