<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Nintendo Switch</title>
    <meta name="description" content="Take a look at the Nintendo Switch, the latest console by Nintendo®" />
    <meta name="author" content="Walter Sebastian Carrera" />
    <meta name="keywords"  content="gaming, console, nintendo" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://kit.fontawesome.com/f8b14333ef.js"></script>
    
</head>
<body>
    <div class="container">
        <!--Hidden for accessibility-->
        <h1 class="hidden">Main Body</h1>
        <!--Page Header-->
        <header class="header">
            <h2 class="hidden">Header</h2>
            <!--Logo-->
            <div class="brand">
                <a href="#hero">
                    <object class="logo" type="image/svg+xml" data="../images/switch-logo-wide.svg"></object>
                </a>
            </div>
            <!--Navbar-->
            <nav class="nav">
                <h2 class="hidden">Links</h2>
                <ul class="nav-items">
                    <li class="home-page"><a href="http://nintendo.com/en_CA/">Home</a></li>
                    <li class="console-page"><a href="#hero">Nintendo Switch</a></li>
                    <li class="games-page"><a href="https://www.nintendo.com/en_CA/games/switch/">Nintendo Switch Games</a></li>
                    <li class="online-page"><a href="https://www.nintendo.com/en_CA/switch/online-service/">Nintendo Switch Online</a></li>
                    <li class="purchase-page"><a href="https://www.nintendo.com/en_CA/switch/buy-now/">Purchase Today</a></li>
                </ul>
            </nav>
        </header>
        <section class="hero">
            <h2 class="hidden">Hero Image</h2>
            <div class="hero-text">
                <h1 class="hero-title">Nintendo Switch™</h1>
                <h3>Play wherever, whenever, with whomever.</h3>
            </div>
            
        </section>
        <section class="product">
            <h2 class="hidden">Product</h2>
        </section>
    </div>

    <script src="js/main.js"></script>
</body>
</html>