<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Nintendo Switch</title>
    <meta name="description" content="Take a look at the Nintendo Switch, the latest console by Nintendo®" />
    <meta name="author" content="Walter Sebastian Carrera" />
    <meta name="keywords"  content="gaming, console, nintendo" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://kit.fontawesome.com/f8b14333ef.js"></script>
    
</head>
<body>
    <div class="container">
        <!--Hidden for accessibility-->
        <h1 class="hidden">Main Body</h1>
        <!--Page Header-->
        <header class="header">
            <h2 class="hidden">Header</h2>
            <!--Logo-->
            <div class="brand">
                <a href="#hero">
                    <object class="logo" type="image/svg+xml" data="../images/switch-logo-wide.svg"></object>
                </a>
            </div>
            <!--Navbar-->
            <nav class="nav">
                <h2 class="hidden">Links</h2>
                <ul class="nav-items">
                    <li class="home-page"><a href="http://nintendo.com/en_CA/">Home</a></li>
                    <li class="console-page"><a class="active" href="#hero">Nintendo Switch</a></li>
                    <li class="games-page"><a href="https://www.nintendo.com/en_CA/games/switch/">Nintendo Switch Games</a></li>
                    <li class="online-page"><a href="https://www.nintendo.com/en_CA/switch/online-service/">Nintendo Switch Online</a></li>
                    <li class="purchase-page"><a href="https://www.nintendo.com/en_CA/switch/buy-now/">Purchase Today</a></li>
                </ul>
            </nav>
            <div class="menu">
                <i id="nav-toggler" class="fas fa-bars"></i>
            </div>
        </header>
        <!--Sidebar-->
        <nav id="sidebar">
            <h1 class="hidden">Sidebar</h1>
            <ul class="sidebar-items">
                <li class="home-page"><a href="http://nintendo.com/en_CA/">Home</a></li>
                <li class="console-page"><a class="active" href="#hero">Nintendo Switch</a></li>
                <li class="games-page"><a href="https://www.nintendo.com/en_CA/games/switch/">Nintendo Switch Games</a></li>
                <li class="online-page"><a href="https://www.nintendo.com/en_CA/switch/online-service/">Nintendo Switch Online</a></li>
                <li class="purchase-page"><a href="https://www.nintendo.com/en_CA/switch/buy-now/">Purchase Today</a></li>
            </ul>
        </nav>
        <!--Hero Section-->
        <section class="hero">
            <h2 class="hidden">Hero</h2>
            <div class="hero-text">
                <h1 class="hero-title">Nintendo Switch™</h1>
                <p class="hero-slogan">Starting from $399.99</p>
            </div>
        </section>

        <!--Product Section-->
        <section class="product">
            <h2 class="hidden">Product</h2>
            <div class="product-grid">
                <div class="product-text">
                    <h1>Fits all lifestyles</h1>
                    <p>Play whenever, wherever, with whomever. This console can be used on a TV, on a tabletop, or as a handheld.</p>
                </div> 
                <div class="product-image">
                    <img src="../images/switch-tabletop.png"/>
                </div>
            </div>
        </section>

        <!--Featured Section-->
        <section class="featured">
            <h2 class="hidden">Featured</h2>
            <div class="featured-grid">
                <div class="featured-image">
                    <img src="../images/logosArtboard-1.png" alt="Super Mario Odyssey, The Legend of Zelda: Breath of the Wild, Super Smash Bros. Ultimate, Kirby: Star Allies"/>
                </div>
                <div class="featured-text">
                    <h1>Huge selection of games</h1>
                    <p>Join Mario, Link, Kirby, and many more beloved characters on their all new adventures on Nintendo Switch.</p>
                </div>
            </div>
        </section>
    </div>

    <script src="js/main.js"></script>
</body>
</html>